trigger:
  branches:
    include:
      - master
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  vmIP: '52.238.208.198'
  vmUser: 'adminTelematics'
  deployPath: '/home/adminTelematics/visight-tracker'
  # Set to 'true' to deploy all files including lib folder (dependencies)
  # Default 'false' only deploys app JAR and web files for faster deployments
  fullDeploy: 'false'

stages:
- stage: Build
  displayName: 'Build ViTracker'
  jobs:
  - job: BuildJob
    displayName: 'Build Java and Web'
    steps:
    - checkout: self
      displayName: 'Checkout with submodules'
      submodules: true

    - task: JavaToolInstaller@0
      displayName: 'Install Java 17'
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - task: Gradle@2
      displayName: 'Build with Gradle'
      inputs:
        workingDirectory: ''
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: false
        tasks: 'build'

    - task: NodeTool@0
      displayName: 'Install Node.js 20'
      inputs:
        versionSpec: '20.x'

    - script: |
        cd traccar-web
        npm install
        npm run build
      displayName: 'Build Web Interface'

    # Fast incremental deployment (default)
    - task: CopyFiles@2
      displayName: 'Copy Build Artifacts (Incremental)'
      condition: ne(variables['fullDeploy'], 'true')
      inputs:
        Contents: |
          target/tracker-server.jar
          traccar-web/build/**
          traccar.xml
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    # Full deployment including dependencies (when fullDeploy=true)
    - task: CopyFiles@2
      displayName: 'Copy Build Artifacts (Full)'
      condition: eq(variables['fullDeploy'], 'true')
      inputs:
        Contents: |
          target/**
          traccar-web/build/**
          traccar.xml
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'traccar-build'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy to VM'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployTraccar
    displayName: 'Deploy to Production VM'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadBuildArtifacts@0
            displayName: 'Download Artifacts'
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'traccar-build'
              downloadPath: '$(System.ArtifactsDirectory)'

          - task: SSH@0
            displayName: 'Stop Traccar Service'
            inputs:
              sshEndpoint: 'VM-Telematics-SSH'
              runOptions: 'inline'
              inline: 'sudo systemctl stop traccar'

          - task: CopyFilesOverSSH@0
            displayName: 'Deploy Files to VM'
            inputs:
              sshEndpoint: 'VM-Telematics-SSH'
              sourceFolder: '$(System.ArtifactsDirectory)/traccar-build'
              contents: '**'
              targetFolder: '$(deployPath)'
              cleanTargetFolder: false
              overwrite: true
              failOnEmptySource: true

          - task: SSH@0
            displayName: 'Start Traccar Service'
            inputs:
              sshEndpoint: 'VM-Telematics-SSH'
              runOptions: 'inline'
              inline: |
                sudo systemctl start traccar
                sleep 5
                sudo systemctl status traccar
